@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.pointFont {
  font-family: "twayair";
}

.boldText {
  font-weight: 600;
}

@media screen and (min-width: 769px) {
  .main-contents {
    padding: 0;
  }
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .nowadays,
  .banner,
  .specials,
  .countrys,
  .review-wrap {
    width: 90%;
    margin: 0 auto;
  }
  .nowadays,
  .packages,
  .banner,
  .specials,
  .countrys,
  .review-wrap,
  .themeTrip {
    margin-bottom: 150px;
  }
  .header,
  .banner,
  div.bottom-nav {
    display: none;
  }
  .soldout p {
    height: 210px;
    line-height: 210px;
  }
  .main {
    height: 100vh;
    margin-bottom: 100px;
    background: url("../../../public/images/main-landscape01.png") no-repeat fixed;
    background-size: cover;
    background-position: center bottom;
  }
  .main h3 {
    width: auto;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
  }
  .main h3 > span {
    color: #13608C;
  }
  .main-dim-pc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
  }
  .main-card {
    width: 45%;
    bottom: 5%;
  }
  .main-card-title {
    margin-bottom: 15px;
  }
  .main-card-pc {
    margin-bottom: 25px;
    height: 180px;
  }
  .main-card-pc img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-card-travel {
    flex-direction: column;
  }
  .main-card-travel .main-card-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .bottom-nav {
    display: none;
  }
  .select {
    margin-bottom: 60px;
  }
  .select h2,
  .select .select-want {
    font-size: 2em;
  }
  .recommends div.recom-wrap .recom-box .recom-img {
    height: 210px;
  }
  .packages > .section-title {
    width: 90%;
    margin: 0 auto 16px;
  }
  .packages .package-wrap {
    width: 90%;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .packages .package-wrap .package-box {
    width: 23%;
    overflow: hidden;
  }
  .packages .package-wrap .package-box .new-img {
    height: 210px;
    margin-bottom: 0;
  }
  .packages .package-wrap .package-box .package-infos {
    padding: 8% 5%;
  }
  .packages .package-wrap .package-box .package-infos .info-title {
    font-size: 18px;
    font-weight: 600;
    word-break: keep-all;
  }
  .packages .package-wrap .package-box:first-child, .packages .package-wrap .package-box:nth-child(2) {
    margin-bottom: 0;
  }
  .specials {
    position: relative;
    top: 0;
    left: 0;
    height: 350px;
  }
  .specials-title-mb {
    display: none;
  }
  .specials-pc {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #13608C;
  }
  .specials-pc .specials-title-pc {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10% 10%;
    color: #fff;
    font-weight: lighter;
  }
  .specials div.specials-wrap {
    position: relative;
    top: 30%;
    margin-left: 15%;
  }
  .specials div.specials-wrap .specials-box {
    height: 300px;
  }
  .countrys .country-wrap .country:nth-child(1), .countrys .country-wrap .country:nth-child(2), .countrys .country-wrap .country:nth-child(3), .countrys .country-wrap .country:nth-child(4) {
    margin-bottom: 20px;
  }
  .countrys .country-wrap .country .country-img {
    width: 130px;
    height: 130px;
  }
  .countrys .country-wrap .country > p {
    font-size: 18px;
    margin-top: 15px;
  }
  div.review-wrap .review-container > img {
    left: auto;
    right: 0;
    width: 60%;
    height: 100%;
  }
  div.review-wrap .review-container .review-info {
    width: 60%;
    height: 100%;
    padding: 0 6%;
    background: linear-gradient(90deg, #13608c 75%, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.review-wrap .review-container .review-info .review-title {
    margin-bottom: 70px;
  }
  div.search-wrap {
    width: 80%;
    padding-top: 120px;
  }
  div.search-wrap .search-bar {
    margin-bottom: 80px;
  }
  div.search-wrap .countrys {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .header .sider-wrap .sider-container .ant-layout-sider-children .sider-menu > li:last-child {
    display: none;
  }
  .main-card-pc,
  .main-dim-pc,
  .themeTrip,
  .headerPc {
    display: none;
  }
  .main-card-travel .main-card-left .main-info-trans {
    display: none;
  }
  .specials-title-mb {
    display: block;
  }
  .specials-pc {
    display: none;
  }
}/*# sourceMappingURL=mediascreen.css.map */