.packages {
    margin-top: 100px;
  
    & .package-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: hidden;
      & .package-box {
        width: calc(100% / 2 - 10px);
        margin-bottom: 0px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:first-child ,&:nth-child(2){
          margin-bottom: 20px;
        }
        .new-img{
          height: 120px;
          margin-bottom: 10px;
        }
      }
    }
  }