@import '../common/mixin';
.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: left;
  margin-bottom: 12px;
}
.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 60px;
  background: url('../../public/images/main.png') no-repeat;
  background-size: 170%;
  background-position: top center;
  & h3 {
    position: absolute;
    top: 20%;
    width: 100%;
    margin: 0;
    font-size: 2.8em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    & span {
      font-weight: 600;
    }
  }
  &-card{
    position: absolute;
    bottom: 12%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%) ;
    padding: 3%;
    border-radius: 15px;
    background: #fff;
    &-title{
      width: 100%;
      text-align: left;
      margin-bottom: 12px;
      @include pointColorText;
      .main-card-now{
        font-size: 14px;
        margin-left: 5px;
      }
    }
    &-travel{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .main-card-left{
        min-width: 56%;
        @include flexCenter;
        .main-info{
          &-where{
            margin-bottom: 5px;
            font-size: 21px;
            font-weight: 600;
          }
          &-when{
            margin-bottom: 0;
            font-size: 13px;
            line-height: 1.3;
          }
        }
      }
      .main-card-right{
        max-width: 40%;
        font-size: 14px;
        > span{
          margin-left: 3px;
          font-size: 21px;
          font-weight: 600;
        }
      }
    }
  }
}

.main-contents{
  padding: 0 5%;
}

.select {
  margin-bottom: 40px;

  & h2, &-want{
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 0;
  }

  & .ant-select {
    margin: 8px 0;
    & .ant-select-selector {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #13608C;
      & .ant-select-selection-item {
        font-size: 32px;
        overflow: visible;
      }
    }
    & .ant-select-arrow {
      color: #000;
      font-size: 20px;
    }
  }
}

.recommends {
  margin-bottom: 60px;

  & div.recom-wrap {
    display: flex;
    align-items: flex-start;
    & .recom-box {
      .recom-img{
        @extend %imgBackUrl;
      }
    }
  }
}
.info-box{
  text-align: left;
  .info-title{
    margin: 0;
    margin-bottom: 5px;
  }
  .info-price{
    font-size: 14px;
    font-weight: 400;
    span{
      font-weight: 600;
    }
  }
}
.packages {
  margin-bottom: 60px;

  & .package-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    & .package-box {
      width: calc(100% / 2 - 10px);
      margin-bottom: 20px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      .recom-img{
        @extend %imgBackUrl;
      }
    }
  }
}

.banner {
  margin-bottom: 60px;

  & img {
    width: 100%;
  }
}

.specials {
  margin-bottom: 60px;

  & div.specials-wrap {
    display: flex;
    align-items: flex-start;

    & .specials-box {
      padding: 12px;
      border-radius: 12px;
      & .specials-text {
        color: #fff;
        & div p {
          font-size: 12px;
        }

        & .specials-area {
          @extend %imgBackUrl;
        }
      }
    }
  }
}

.countrys {
  margin-bottom: 60px;

  & .country-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;

    & .country {
      width: calc(100% / 4 - 15px);
      &:nth-child(4n) {
        margin-right: 0;
      }

      & > img {
        overflow: hidden;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 8px;
      }
      & p {
        margin-bottom: 6px;
      }
    }
  }
}

.review {
  & .review-wrap {
    width: 100%;
    background-color: #ECF6FC;
    border-radius: 10px;
    padding: 14px 24px 30px;

    & .review-user {
      display: flex;
      justify-content: space-between;

      & .user {
        display: flex;
        align-items: center;
        & img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        & p {
          margin-bottom: 0;
          margin-left: 10px;
        }
      }
      & .good {
        display: flex;
        align-items: center;
        & p {
          margin: 0;
          & span {
            cursor: pointer;
            padding-right: 2px;
          }
        }
        & p:first-child {
          margin-right: 10px;
        }
      }
    }
    & .review-img{
      border-radius: 12px;
      overflow: hidden;
      margin: 15px 0 10px;
      img {
        width: 100%;
      }
    }
    & .review-text {
      & p {
        text-align: left;
        font-size: 14px;
        margin-bottom: 0;

        &.title {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
