@import '../common/mixin';

.headerPc{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  background-color: rgba(255,255,255,0.8);
  z-index: 999;
  &-utility{
    width: 90%;
    margin: 0 auto;
    &-list{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      > li{
        margin-right: 10px;
        &:last-child{
          margin-right: 0px;
        }
        > a{
          font-size: 13px;
          color: #666;
        }
      }
    }
  }
  &-nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headerPc-logo{
      font-size: 21px;
      font-weight: 600;
      color: $pointColor;
    }
    .headerPc-menu{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: none !important;
      background: transparent;
      > .ant-menu-submenu{
        @include positionRlt;
        > .ant-menu-sub{
          position: absolute;
          width: 100%;
          border-radius: 15px;
          background: #fff;
          .ant-menu-item-group{
            .ant-menu-item-group-title{
              padding: 0;
            }
            .ant-menu-item-group-list{
              .ant-menu-item{
                padding: 0 !important;
              }
            }
          }
        }
      }
      > .ant-menu-item-group{
        > .ant-menu-item-group-title{
          padding: 0;
        }
        > .ant-menu-item-group-list{
          display: flex;
          >li{
            padding: 0;
            margin: 0;
            width: auto;
          }
        }
      }
    }
  }
}
.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: left;
  margin-bottom: 16px;
}
.imgfit-wrap{
  @extend %imgBackUrl;
  & img{
    @include imgFit;
  }
}
.soldout{
  @include positionAbs;
  @include pointColorText;
  width: 100%;
  height: 100%;
  pointer-events: 0 none;
  background: rgba(255,255,255,0.8);
  font-size: 18px;
  font-weight: 600;
  z-index: 9;
  > p{
    width: 100%;
    height: 120px;
    border-radius: 12px;
    line-height: 120px;
  }
}
.main {
  position: relative;
  height: 90vh;
  overflow: hidden;
  margin-bottom: 60px;
  background: url('../../public/images/main.png') no-repeat fixed;
  background-size: 170%;
  background-position: top center;
  & h3 {
    position: absolute;
    top: 20%;
    width: 100%;
    margin: 0;
    font-size: 2.8em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    & span {
      font-weight: 600;
    }
  }
  &-card{
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%) ;
    padding: 3%;
    border-radius: 15px;
    background: #fff;
    &-title{
      width: 100%;
      text-align: left;
      margin-bottom: 12px;
      @include pointColorText;
      .main-card-now{
        font-size: 14px;
        margin-left: 5px;
      }
    }
    &-travel{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .main-card-left{
        min-width: 56%;
        @include flexCenter;
        .main-info{
          &-where{
            margin-bottom: 5px;
            font-size: 21px;
            font-weight: 600;
          }
          &-trans{
            margin-bottom: 3px;
            font-size: 13px;
          }
          &-when{
            margin-bottom: 0;
            font-size: 13px;
            line-height: 1.3;
          }
        }
      }
      .main-card-right{
        max-width: 40%;
        font-size: 14px;
        > span{
          margin-left: 3px;
          font-size: 21px;
          font-weight: 600;
        }
      }
    }
  }
}

.main-contents{
  padding: 0 5%;
}

.select {
  margin-bottom: 40px;

  & h2, &-want{
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 0;
  }

  & .ant-select {
    margin: 8px 0;
    & .ant-select-selector {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #13608C;
      & .ant-select-selection-item {
        font-size: 32px;
        overflow: visible;
      }
    }
    & .ant-select-arrow {
      color: #000;
      font-size: 20px;
    }
  }
}

.recommends {
  margin-bottom: 60px;

  & div.recom-wrap {
    display: flex;
    align-items: flex-start;
    & .recom-box {
      .recom-img{
        @extend %imgBackUrl;
        height: 130px;
      }
    }
  }
}
.info-box{
  text-align: left;
  .info-country{
    font-size: 15px;
    color: #bbb;
    margin-bottom: 5px;
  }
  .info-title{
    margin: 0;
    margin-bottom: 10px;
  }
  .info-price{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    span{
      font-weight: 600;
    }
  }
}
.packages {
  margin-bottom: 60px;

  & .package-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    & .package-box {
      width: calc(100% / 2 - 10px);
      margin-bottom: 0px;
      @include positionRlt;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:first-child ,&:nth-child(2){
        margin-bottom: 20px;
      }
      .new-img{
        height: 120px;
      }
    }
  }
}

.banner {
  margin-bottom: 60px;

  & img {
    width: 100%;
  }
}

.specials {
  margin-bottom: 60px;

  & div.specials-wrap {
    display: flex;
    align-items: flex-start;

    & .specials-box {
      position: relative;
      top: 0;
      left: 0;
      height: 210px;
      border-radius: 12px;
      overflow: hidden;
      & .soldout{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      & .specials-img{
        position: absolute;
        top: 0;
        left: 0;
        @include imgFit;
      }
      & .specials-text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 12px;
        color: #fff;
        background: rgba(0,0,0,0.4);
        & .specials-area {
          .specials-where{
            margin-bottom: 4px;
            font-size: 18px;
            font-weight: 500;
            span{
              margin: 0 3px;
            }
          }
          .specials-price{
            font-size: 14px;
            span{
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
        & .specials-date{
          p{
            font-size: 16px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

.themeTrip{
  display: inline-block;
  width: 100%;
  height: 550px;
  padding: 3% 5%;
  background: #f0f2df;
  background: $pointColor;
  &-left{
    width: 45%;
    height: 100%;
    float: left;
    background: url(../../public/images/theme00.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-right{
    width: 50%;
    float: left;
    margin-left: 5%;
    text-align: left;
    p { 
      margin: 0;
    }
    .themeTrip-slogan{
      font-size: 15px;
      font-weight: 400;
      color: $pointColor;
      color: #fefff4;
      margin-bottom: 12px;
    }
    .themeTrip-logo{
      @include positionRlt;
      font-size: 30px;
      font-weight: 700;
      color: $pointColor;
      color: #fefff4;
      margin-bottom: 35px;
      &::after{
        content: '';
        position:absolute;
        width: 100%;
        height: 3px;
        background: #fefff4;
        bottom: -16px;
        left: 0;
      }
    }
    .themeTrip-sort{
      font-size: 15px;
      color: #666;
      color: #f0f2df;
      p {
      } 
      &-title{
        font-weight: 500;
        margin-bottom: 10px;
      }
      &-text{
        font-weight: 200;
        margin-bottom: 8px;
      }
    }
  }
}

.countrys {
  margin-bottom: 60px;

  & .country-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;

    & .country {
      width: calc(100% / 4);
      .country-img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto 8px;
      }
      & p {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }
}

.review {
  margin-bottom: 60px;
  & .review-wrap {
    width: 100%;
    background-color: #ECF6FC;
    border-radius: 10px;
    padding: 20px 26px 25px;

    & .review-user {
      display: flex;
      justify-content: space-between;

      & .user {
        display: flex;
        align-items: center;
        & img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        & p {
          margin-bottom: 0;
          margin-left: 10px;
        }
      }
      & .good {
        display: flex;
        align-items: center;
        & p {
          margin: 0;
          & span {
            cursor: pointer;
            padding-right: 2px;
          }
        }
        & p:first-child {
          margin-right: 10px;
        }
      }
    }
    & .review-img{
      width: 100%;
      height: 180px;
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      margin: 15px 0 15px;
      img {
        width: 100%;
      }
    }
    & .review-text {
      & p {
        text-align: left;
        font-size: 14px;
        margin-bottom: 0;

        &.title {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
