@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.pointFont {
  font-family: "twayair";
}

.recommends div.recom-wrap .recom-box .recom-img, .imgfit-wrap {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 12px;
  overflow: hidden;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: left;
  margin-bottom: 16px;
}

.imgfit-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.soldout {
  position: absolute;
  top: 0;
  left: 0;
  color: #13608C;
  width: 100%;
  height: 100%;
  pointer-events: 0 none;
  background: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 600;
  z-index: 9;
}

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 60px;
  background: url("../../public/images/main.png") no-repeat;
  background-size: 170%;
  background-position: top center;
}
.main h3 {
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0;
  font-size: 2.8em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
}
.main h3 span {
  font-weight: 600;
}
.main-card {
  position: absolute;
  bottom: 12%;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  padding: 3%;
  border-radius: 15px;
  background: #fff;
}
.main-card-title {
  width: 100%;
  text-align: left;
  margin-bottom: 12px;
  color: #13608C;
}
.main-card-title .main-card-now {
  font-size: 14px;
  margin-left: 5px;
}
.main-card-travel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main-card-travel .main-card-left {
  min-width: 56%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-card-travel .main-card-left .main-info-where {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
}
.main-card-travel .main-card-left .main-info-when {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.3;
}
.main-card-travel .main-card-right {
  max-width: 40%;
  font-size: 14px;
}
.main-card-travel .main-card-right > span {
  margin-left: 3px;
  font-size: 21px;
  font-weight: 600;
}

.main-contents {
  padding: 0 5%;
}

.select {
  margin-bottom: 40px;
}
.select h2, .select-want {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0;
}
.select .ant-select {
  margin: 8px 0;
}
.select .ant-select .ant-select-selector {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #13608C;
}
.select .ant-select .ant-select-selector .ant-select-selection-item {
  font-size: 32px;
  overflow: visible;
}
.select .ant-select .ant-select-arrow {
  color: #000;
  font-size: 20px;
}

.recommends {
  margin-bottom: 60px;
}
.recommends div.recom-wrap {
  display: flex;
  align-items: flex-start;
}
.recommends div.recom-wrap .recom-box .recom-img {
  height: 130px;
}

.info-box {
  text-align: left;
}
.info-box .info-title {
  margin: 0;
  margin-bottom: 5px;
}
.info-box .info-price {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}
.info-box .info-price span {
  font-weight: 600;
}

.packages {
  margin-bottom: 60px;
}
.packages .package-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}
.packages .package-wrap .package-box {
  width: calc(50% - 10px);
  margin-bottom: 0px;
  position: relative;
  top: 0;
  left: 0;
}
.packages .package-wrap .package-box:nth-child(2n) {
  margin-right: 0;
}
.packages .package-wrap .package-box:first-child, .packages .package-wrap .package-box:nth-child(2) {
  margin-bottom: 20px;
}
.packages .package-wrap .package-box .new-img {
  height: 120px;
}
.packages .package-wrap .package-box .soldout > p {
  width: 100%;
  height: 120px;
  border-radius: 12px;
  line-height: 120px;
}

.banner {
  margin-bottom: 60px;
}
.banner img {
  width: 100%;
}

.specials {
  margin-bottom: 60px;
}
.specials div.specials-wrap {
  display: flex;
  align-items: flex-start;
}
.specials div.specials-wrap .specials-box {
  position: relative;
  top: 0;
  left: 0;
  height: 210px;
  border-radius: 12px;
  overflow: hidden;
}
.specials div.specials-wrap .specials-box .soldout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specials div.specials-wrap .specials-box .specials-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.specials div.specials-wrap .specials-box .specials-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.specials div.specials-wrap .specials-box .specials-text .specials-area .specials-where {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
}
.specials div.specials-wrap .specials-box .specials-text .specials-area .specials-where span {
  margin: 0 3px;
}
.specials div.specials-wrap .specials-box .specials-text .specials-area .specials-price {
  font-size: 14px;
}
.specials div.specials-wrap .specials-box .specials-text .specials-area .specials-price span {
  font-size: 16px;
  font-weight: 600;
}
.specials div.specials-wrap .specials-box .specials-text .specials-date p {
  font-size: 16px;
  margin-bottom: 3px;
}

.countrys {
  margin-bottom: 60px;
}
.countrys .country-wrap {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.countrys .country-wrap .country {
  width: 25%;
}
.countrys .country-wrap .country .country-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 8px;
}
.countrys .country-wrap .country p {
  font-size: 15px;
  margin-bottom: 10px;
}

.review {
  margin-bottom: 60px;
}
.review .review-wrap {
  width: 100%;
  background-color: #ECF6FC;
  border-radius: 10px;
  padding: 20px 26px 25px;
}
.review .review-wrap .review-user {
  display: flex;
  justify-content: space-between;
}
.review .review-wrap .review-user .user {
  display: flex;
  align-items: center;
}
.review .review-wrap .review-user .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.review .review-wrap .review-user .user p {
  margin-bottom: 0;
  margin-left: 10px;
}
.review .review-wrap .review-user .good {
  display: flex;
  align-items: center;
}
.review .review-wrap .review-user .good p {
  margin: 0;
}
.review .review-wrap .review-user .good p span {
  cursor: pointer;
  padding-right: 2px;
}
.review .review-wrap .review-user .good p:first-child {
  margin-right: 10px;
}
.review .review-wrap .review-img {
  width: 100%;
  height: 180px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  margin: 15px 0 15px;
}
.review .review-wrap .review-img img {
  width: 100%;
}
.review .review-wrap .review-text p {
  text-align: left;
  font-size: 14px;
  margin-bottom: 0;
}
.review .review-wrap .review-text p.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}/*# sourceMappingURL=Main.css.map */