@import '../../sass/mixin.scss';

.login-wrap{
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-form{
        .login-title{
            margin-bottom: 25px;
            font-size: 32px;
            font-weight: 700;
            color: $pointColor;
        }
        .name{
            width: 100%;
            margin: 0 auto 10px;
        }
        .password{
            width: 100%;
            margin: 0 auto 10px;
        }
        .name .ant-input-prefix,
        .password .ant-input-prefix{
            color: $pointColor;
        }
        .checkbox{
            text-align: left;
            margin-bottom: 20px;
            .ant-checkbox-checked .ant-checkbox-inner {
                background-color: $pointColor;       
                border-color: $pointColor;
            }
            .ant-checkbox-inner {
                border-color: #a5a5a5;  
                border-radius: 50%;
                :hover{
                    border-radius: 50%;
                }
            }
            .ant-checkbox-checked::after{
                border: none;
                border-radius: 50%;
            }
            
        }
        .loginbt{
            width: 100%;
            background-color: $pointColor;
            height: 40px;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .login-data{
            > p{
                margin-bottom: 0;
            }
        }
    }
}
