@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import './common/mixin';

*{font-family: "Pretendard Variable";}
ul,ol{list-style: none; margin: 0; padding: 0;}
a{ @include aPlain; }

.App {
  text-align: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
