.footer{
    border-top: 1px solid #13608C;
    padding: 15px 0 80px;
    &-top{
        width: 80%;
        margin: 0 auto 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > a{
            display: block;
            padding: 10px;
            font-size: 16px;
        }
    }
}

.footer-sns{
    width: 80%;
    margin: 0 auto 20px;
    display:flex;
    justify-content: space-between;
}

.footer-info{
    padding: 0 5%;
    text-align: left;
    .footer-assign{
        margin-bottom: 10px;
    }
    .footer-team{
        & > p{
            margin-bottom: 0;
        }
        &-member{
            margin-top: 6px;
            font-size: 15px;
            line-height: 1.25;
            span{
                font-weight: 300;
                color: #666;
            }
        }
    }
    .footer-copyright{
        margin-top: 10px;
        font-size: 15px;
        color: #666;
        word-break: keep-all;
    }
}
.boldtext{
    font-weight:bold;
}