$pointColor : #13608C;

@mixin positionRlt(){
  position: relative;
  top: 0;
  left: 0;
}

@mixin positionAbs(){
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flexCenter(){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin aPlain(){
  color: #000;
  text-decoration: none;
}

@mixin pointColorText(){
  color: #13608C;
}

%imgBackUrl{
  width: 100%;
  margin-bottom: 8px;
  border-radius: 12px;
  overflow: hidden;
}
@mixin imgFit(){
  width: 100%;
  height: 100%;
  object-fit: cover;
}