@mixin flexCenter(){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin aPlain(){
  color: #000;
  text-decoration: none;
}

@mixin pointColorText(){
  color: #13608C;
}